/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #faf8f7;
    color: #333;
}

/* Cabeçalho */
header {
    background: #7f54f5;
    color: white;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Conteúdo principal */
main {
    padding: 2rem;
    text-align: center;
}

/* Rodapé */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}